parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        - "#Access to undefined constant .*Format::.*#"
        - "#Access to an undefined property Sabre.*#"
        - "#Attribute class JetBrains.* does not exist#"
        - "#.* has parameter .* with no value type specified in iterable type Sabre.*#"
        - "#.*jsonSerialize.* return type has no value type specified in iterable type array#"
